body {
    margin: 0px;
    background-color: #333;
}

.horizonte {
    background-color: #884433;
    margin: 1px 0px 0px 3px; /* evitar que se vea por los lados */
    background-image: url("../images/cielov2.png");
    /*background-repeat: no-repeat;*/
    background-position: -65px -65px;
    width: 245px;
    height: 245px;
    border-radius: 245px;
    z-index: 1;
    /*position: absolute;*/
}

.horizonte_marco{
    background-image: url("../images/Artificial_Horizon_Indicator3.png");
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    z-index: 100;
    position: absolute;
}

.brujula_marco {
    background-image: url("../images/exterior_brujula.png");
    background-repeat: no-repeat;
    width: 247px;
    height: 249px;
    z-index: 100;
    position: absolute;
}

.brujula {
    background-image: url("../images/centro_brujula.png");
    background-repeat: no-repeat;
    width: 247px;
    height: 249px;
    border-radius: 680px;
    z-index: 1;
    /*position: absolute;*/
}

.camara {
    padding: 10px;
}

.mapa {
    padding: 10px;
}

#map-canvas {
    height:350px;
    width:400px;
}

.horizonte_space{
    width: 270px;
    height: 270px;
    float:left;
    margin-right:290px;
}

.brujula_space{
    width: 270px;
    height: 270px;
    margin-left: 290px;
}

.termometro_space{
    width: 100px;
    height: 270px;
    padding:0;
    float: left;
    margin-top:30px;
}

.termometro_marco {
    width: 86px;
    height: 200px;
    background-image: url("../images/termometro.png");
    background-repeat: no-repeat;
    z-index: 100;
    position: absolute;
}

.termometro {
    width: 86px;
    height: 200px;
    background-image: url("../images/termometro_fondo.png");
    background-repeat: no-repeat;
}

.luminosidad_space{
    width: 100px;
    height: 270px;
    padding:30px;
    margin-left:380px;
}

.luminosidad_marco {
    width: 86px;
    height: 200px;
    background-image: url("../images/luminosidad.png");
    background-repeat: no-repeat;
    z-index: 100;
    position: absolute;
}

.luminosidad {
    width: 86px;
    height: 200px;
    background-image: url("../images/luminosidad_fondo.png");
    background-repeat: no-repeat;
}

.pan_space {
    width: 200px;
    height: 200px;
    margin-left: 25px;
    float: left;
}

.pan_marco {
    width: 200px;
    height: 200px;
    float: left;
    background-image: url("../images/pan.png");
    background-repeat: no-repeat;
    z-index: 100;
    position: absolute;
}

.pan {
    background-image: url("../images/pan_fondo.png");
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    z-index: 1;
    /*position: absolute;*/
}

.tilt_space {
    width: 200px;
    height: 200px;
    margin-left: 240px;
}

.tilt_marco {
    width: 200px;
    height: 200px;
    background-image: url("../images/tilt.png");
    background-repeat: no-repeat;
    z-index: 100;
    position: absolute;
}

.tilt {
    background-image: url("../images/tilt_fondo.png");
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    z-index: 1;
    /*position: absolute;*/
}

.values_space {
    width: 200px;
    font-weight: bold;
    color: #fff;
    /*float: left;*/
}

.left_column {
    width: 450px;
    float: left;
    margin: 0px;
}

.right_column {
    width: 640px;
    margin: 0px 0px 0px 400px;
}

.right_left {
    margin: 0;
    padding: 0;
    width: 550px;
    height: 270px;
    float:left;
}

.right_right {
    margin: 0px 0px 0px 280px;
    padding: 0;
    width: 550px;
    height: 270px;
}

.terminal_space {
    margin-left: 20px;
    width:500px;
    height:400px;

}



.nofloat{
	clear: both;
}

